<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Personal_Patient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="n_layout">
        <div class="n_nav_block">
            <div class="n_nav">Навигация</div>
        </div>
        <div class="n_label_block">
            <a class="n_label" href="~/Profile/">Личный кабинет</a>
        </div>
        <div class="n_label_block">
            <br />
            <form method="post">
                <a class="n_label" href="~/Account/Logout">Выход</a>
            </form>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
