@{
    //ViewData["Title"] = "Список пациентов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список пациентов</title>
</head>
<body>
    <h3>Пациенты</h3>

    <a href="~/Account/Login/">Перейти</a>
</body>
</html>