@{
    //ViewData["Title"] = "Список пациентов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список пациентов</title>
</head>
<body>
    <h3>Пациенты</h3>

    <form method="post" action="~/Account">
        <label for="name">Имя</label><br />
        <input type="text" name="name" id="name" /><br /><br />
        <label for="password">Пароль</label><br />
        <input type="text" name="password" id="password" /><br /><br />

        <input type="submit" value="Оправить" /><br /><br />
    </form>
</body>
</html>