@model Patient
@{
    //ViewData["Title"] = "Список пациентов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список пациентов</title>
</head>
<body>
    <a href="~/Profile/">Вход на сайт</a>
</body>
</html>