@model IEnumerable<Personal_Patient.Models.Patient>
@{
    //ViewData["Title"] = "Список пациентов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список пациентов</title>
</head>
<body>
    <h3>Пациенты</h3>
    <table>
        <tr>
            <td><b>Имя</b></td>
            <td><b>Фамилия</b></td>
            <td><b>Отчество</b></td>
            <td></td>
        </tr>
        @foreach (var patient in Model)
        {
    <tr>
        <td>@patient.name</td>
        <td>@patient.surname</td>
        <td>@patient.patronymic</td>
        <td><a href="~/Account/Home/@patient.id">Перейти</a></td>
    </tr>
        }
    </table>
</body>
</html>