body {
    font: 12px 'Comic Sans MS', 'Trebuchet MS', Arial, Helvetica;
    margin: 0;
}

.autorization {
    width: 20%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 2pt;
    border-radius: 7pt;
}

.l_login {
    font-weight: bold;
    font-size: 32pt;
    margin-left: 35%;
    padding-bottom: 50%;
}

.b_auth {
    padding: 5%;
}

.l_login_inner {
    font-size: 13pt;
    width: 100%;
}

.l_reg_inner {
    font-size: 13pt;
    text-align: center;
    width: auto;
}

.b_login {
    width: 100%;
    height: 32px;
    font-size: 18pt;
    font-weight: bold;
}

.validation {
    color: red;
    font-size: 10pt;
    text-align: center;
}
