body {
    font: 12px 'Comic Sans MS', 'Trebuchet MS', Arial, Helvetica;
    margin: 0;
}

.autorization {
    width: 20%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-style: solid;
    border-width: 2pt;
    border-radius: 7pt;
}

.l_login {
    font-weight: bold;
    font-size: 32pt;
    margin-left: 35%;
    padding-bottom: 50%;
}

.b_auth {
    padding: 5%;
}

.l_login_inner {
    font-size: 13pt;
    width: 100%;
}

.l_reg_inner {
    font-size: 13pt;
    text-align: center;
    width: auto;
}

.b_login {
    width: 100%;
    height: 32px;
    font-size: 18pt;
    font-weight: bold;
}

.validation {
    color: red;
    font-size: 10pt;
    text-align: center;
}

.n_layout {
    width: 215pt;
    height: 650pt;
    float: left;
    margin-left: 2%;
    border-style: solid;
    border-width: 2pt;
    border-radius: 2pt;
    margin-top: 2%;
}

.n_nav {
    width: 100%;
    background-color: rgb(199, 198, 198);
    font-size: 13pt;
}

.n_nav_block {
    width: 100%;
    height: 20pt;
}

.n_label {
    width: 100%;
    font-size: 13pt;
    position: relative;
    top: 25%;
    left: 10%;
    transform: translateY(-25%);
    text-align: center;
}

.n_label_block {
    width: 100%;
    height: 7%;
}

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 100px;
    position: absolute;
    width: 40%;
    left: 50%;
    margin-top: 15%;
}

.p_label {
    font-size: 14pt;
    color: #838383;
}

.p_text {
    font-size: 18pt;
    width: 100%;
}

.p_block {
    width: 100%;
    height: 85%;
    border-bottom: solid 2px #000000;
}

.p_photo {
    width: 430px;
    height: 430px;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: #838383;
}

.p_edit {
    font-size: 13pt;
    width: 430px;
    position: absolute;
    top: 25%;
    left: 20%;
}
