@model Personal_Patient.Models.RegisterModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="registaration">
        <Label class="reg_head">Регистрация пациента</Label>
        <div>
            <label class="reg_l" asp-for="Name">Введите Имя</label><br>
            <input class="reg_in" type="text" asp-for="Name" placeholder="Иван" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label class="reg_l" asp-for="Surname">Введите Фамилию</label><br />
            <input class="reg_in" type="text" asp-for="Surname" placeholder="Иванов"  />
            <span asp-validation-for="Surname" />
        </div>
        <div>
            <label class="reg_l" asp-for="Patronymic">Введите Отчество</label><br />
            <input class="reg_in" type="text" asp-for="Patronymic" placeholder="Иванович"  />
            <span asp-validation-for="Patronymic" />
        </div>
        <div>
            <label class="reg_l" asp-for="Dateofbirth">Выбирите дату рождения</label><br />
            <input class="reg_in" type="date" asp-for="Dateofbirth" />
            <span asp-validation-for="Dateofbirth" />
        </div>
        <div>
            <label class="reg_l" asp-for="Numberpolicy">Введите номер полиса</label><br />
            <input class="reg_in" type="text" asp-for="Numberpolicy"  placeholder="1234567891011121" />
            <span asp-validation-for="Numberpolicy" />
        </div>
        <div>
            <label class="reg_l" asp-for="Numberpassport">Введите номер и серию паспорта</label><br />
            <input class="reg_in" type="text" asp-for="Numberpassport" placeholder="1234567891"  />
            <span asp-validation-for="Numberpassport" />
        </div>
        <div>
            <label class="reg_l" asp-for="Phone">Введите номер телефона</label><br />
            <input class="reg_in" type="text" asp-for="Phone" placeholder="89991234567"  />
            <span asp-validation-for="Phone" />
        </div>
        <div>
            <label class="reg_l" asp-for="Email">Введите Почту(Email)</label><br />
            <input class="reg_in" type="text" asp-for="Email"  placeholder="Example@mail.ru" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label class="reg_l" asp-for="Password">Введите пароль</label><br />
            <input class="reg_in" asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label class="reg_l" asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input class="reg_in" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <input class="reg_btn" type="submit" value="Регистрация" />
        </div>
        <div>
            <a class="reg_al_reg" asp-action="Login" asp-controller="Account">Уже зарегистрированы?</a>
        </div>
    </div>
</form>